# Arquivos de compilação C#
bin/
obj/

# Arquivos do Visual Studio
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates

# Pacotes NuGet
*.nuget/

# Arquivos de log
*.log
/.vs/Apolices/FileContentIndex
/Web.Apolices/obj/Debug/net7.0/scopedcss/bundle/Web.Apolices.styles.css
/Web.Apolices/obj/Debug/net7.0/scopedcss/projectbundle/Web.Apolices.bundle.scp.css
/Web.Apolices/bin/Debug/net7.0/Web.Apolices.dll
/Web.Apolices/bin/Debug/net7.0/Web.Apolices.exe
/Web.Apolices/bin/Debug/net7.0/Web.Apolices.pdb
/.vs/Apolices/v17/.suo
/Web.Apolices/obj/Debug/net7.0/ref/Web.Apolices.dll
/Web.Apolices/obj/Debug/net7.0/refint/Web.Apolices.dll
/Web.Apolices/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Web.Apolices/obj/Debug/net7.0/Web.Apolices.dll
/Web.Apolices/obj/Debug/net7.0/Web.Apolices.pdb
/WebMongoAPI/bin/Debug/net8.0/WebMongoAPI.dll
/WebMongoAPI/bin/Debug/net8.0/WebMongoAPI.exe
/WebMongoAPI/bin/Debug/net8.0/WebMongoAPI.pdb
/WebMongoAPI/obj/Debug/net8.0/apphost.exe
/WebMongoAPI/obj/Debug/net8.0/refint/WebMongoAPI.dll
/WebMongoAPI/obj/Debug/net8.0/WebMongoAPI.AssemblyInfo.cs
/WebMongoAPI/obj/Debug/net8.0/WebMongoAPI.AssemblyInfoInputs.cache
/WebMongoAPI/obj/Debug/net8.0/WebMongoAPI.dll
/WebMongoAPI/obj/Debug/net8.0/WebMongoAPI.pdb
/Web.Apolices/obj/Debug/net7.0/Web.Apolices.AssemblyInfoInputs.cache
/WebMongoAPI/obj/Debug/net8.0/ref/WebMongoAPI.dll
/Web.Apolices/obj/Debug/net7.0/apphost.exe
/Web.Apolices/obj/Debug/net7.0/Web.Apolices.AssemblyInfo.cs
/Web.Apolices/obj/Debug/net7.0/Web.Apolices.sourcelink.json
