@model Apolices.Web.Models.SeguroModel
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<input type="hidden" id="hddContador" name="hddContador" value="0" />
<form asp-action="Update" id="apolices" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <input asp-for="Id" hidden>
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Atualizar</h1>
        <input type="hidden" id="hddCobertura" name="hddCobertura" value="0" />
        <input type="hidden" id="hddBeneficiario" name="hddBeneficiario" value="0" />
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Seguradora" class="control-label pt-2" style="font-size:17px"> Seguradora</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Seguradora" class="form-control" />
            </div>
            <div class="row">
                <div class="col-2">
                    <label asp-for="NumeroApolice" class="control-label pt-2" style="font-size:17px;">No. Apólice</label>
                </div>
                <div class="col-md-6 pb-3">
                    <input asp-for="NumeroApolice" class="form-control" />
                    <span asp-validation-for="NumeroApolice" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input type="button" value="Adicionar Cobertura" class="btn btn-secondary form-control" onclick="adicionarCobertura()" />
                </div>
            </div>
            <div class="container mt-1 mb-4 gridCobertura">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                        <label class="control-label pt-2 form-label" style="font-weight:bolder">Cobertura</label>
                    </div>
                    <div class="col">
                        <label class="control-label pt-2 form-label" style="font-weight:bolder">Capital Segurado</label>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <!-- Área de Varredura da lista de Coberturas -->
                @if (Model.Coberturas != null && Model.Coberturas.Any())
                {
                     var contador = 0; 
                    foreach (var cobertura in Model.Coberturas)
                    {
                        contador++;

                        <div class="row  mt-2  linhaCobertura">
                            <div class="col-2"></div>
                            <div class="col">
                                <input type="text" class="form-control" id="nomeCobertura_@contador" value=@cobertura.Descricao placeholder="Digite a cobertura.">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="valorCobertura_@contador" value=@cobertura.CapitalSegurado maxlength="8" oninput="formatarValor(this);" placeholder="Digite a % da cobertura.">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" onclick="excluirLinha(this)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    }
                }
                <!-- Fim da Área de Varredura da lista de Coberturas -->

            </div>

            <div class="col-2">
                <label asp-for="ValorPremio" class="control-label pt-2" style="font-size:20px;">Premio</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ValorPremio" maxlength="10" oninput="formatarValor(this)" class="form-control" id="valorPremio" />
                <span asp-validation-for="ValorPremio" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="DataAquisicaoApolice" class="control-label pt-2" style="font-size:20px;">Data de Aquisição</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DataAquisicaoApolice" class="form-control" id="dataAquisicaoApolice" oninput="formatarData(this)" maxlength="10" />
                <span asp-validation-for="DataAquisicaoApolice" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-2">
                    <label asp-for="FrequenciaPagamento" class="control-label pt-2" style="font-size:17px;">Frequência de Pagto</label>
                </div>
                <div class="col-6 pb-3" style="padding-top:4px;">
                    @Html.DropDownList("frequenciaPagamento")
                </div>
                <div class="col-md-2">
                    <input type="button" value="Adicionar Benificiário" class="btn btn-secondary form-control" onclick="adicionarBeneficiario()" />
                </div>
            </div>
            <div class="container mt-1 mb-4 gridBeneficiario">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                        <label class="control-label pt-2 form-label" style="font-weight:bolder">Beneficiário</label>
                    </div>
                    <div class="col">
                        <label class="control-label pt-2 form-label" style="font-weight:bolder">% Benefício</label>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <!-- Área de Varredura da lista de Beneficiário -->
                @if (Model.Beneficiarios != null && Model.Beneficiarios.Any())
                {
                    var contador = 0;
                    foreach (var beneficiario in Model.Beneficiarios)
                    {
                        contador++;

                        <div class="row  mt-2 linhaBeneficiario">
                            <div class="col-2"></div>
                            <div class="col">
                                <input type="text" class="form-control" id="nomeBeneficiario_@contador" placeholder="Digite um nome." value=@beneficiario.Nome>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="porcentagemBeneficiario_@contador" maxlength="3" oninput="formatarValor(this);" placeholder="Digite uma porcentagem." value=@beneficiario.PercentualBeneficio>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" onclick="excluirLinha(this)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    }
                }
                <!-- Fim da Área de Varredura da lista de Beneficiário -->
            </div>
            <div class="col-2" style="padding-top:5px">
                <label asp-for="Satisfacao" class="control-label pt-2" style="font-size:20px;">Por que você adquiriu a apólice? Está satisfeito com a apólice?</label>
            </div>
            <div class="col-10 pb-3" style="padding-top:5px">
                <textarea asp-for="Satisfacao" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Satisfacao" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control ">Voltar</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Atualizar" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function formatarData(input) {
            // Remove qualquer caractere que não seja número
            var valor = input.value.replace(/\D/g, '');

            // Adiciona a barra de separação nas posições corretas
            if (valor.length > 2 && valor.length <= 4) {
                valor = valor.replace(/^(\d{2})(\d{2})/, '$1/$2');
            } else if (valor.length > 4) {
                valor = valor.replace(/^(\d{2})(\d{2})(\d{4})/, '$1/$2/$3');
            }

            // Atualiza o valor do campo de entrada
            input.value = valor;
        }
    </script>
    <script>
        function formatarValor(input) {
            // Remove tudo que não for número ou vírgula
            let valorFormatado = input.value.replace(/[^0-9,]/g, '');

            // Substitui a vírgula por ponto se houver mais de uma vírgula
            valorFormatado = valorFormatado.replace(/,+/g, ',');

            // Atualiza o valor no campo
            input.value = valorFormatado;
        }
    </script>
    <script>
        function adicionarBeneficiario() {

            // Obter o valor atual do campo hidden
            var contadorAtual = document.getElementById('hddContador').value;


            // Incrementar o valor
            contadorAtual = parseInt(contadorAtual) + 1;
            // Atualizar o valor no campo hidden
            document.getElementById('hddContador').value = contadorAtual;

            var container = document.querySelector('.gridBeneficiario');

            // Criar elementos
            var divRow = document.createElement('div');
            divRow.className = 'row mt-2 linhaBeneficiario';

            // Criar coluna vazia
            var divColVaziar = document.createElement('div');
            divColVaziar.className = 'col-2';

            divRow.appendChild(divColVaziar);


            // Criar coluna Nome Beneficiario
            var divNomeBeneficiario = document.createElement('div');
            divNomeBeneficiario.className = 'col';

            var inputNomeBeneficiario = document.createElement('input');
            inputNomeBeneficiario.type = 'text';
            inputNomeBeneficiario.className = 'form-control';
            inputNomeBeneficiario.id = 'nomeBeneficiario' + contadorAtual;
            inputNomeBeneficiario.placeholder = 'Digite um nome para o Beneficiário.';

            divNomeBeneficiario.appendChild(inputNomeBeneficiario);

            // Criar coluna Porcentagem Beneficiário
            var divPorcentagemBeneficiario = document.createElement('div');
            divPorcentagemBeneficiario.className = 'col';

            var inputPorcentagemBeneficiario = document.createElement('input');
            inputPorcentagemBeneficiario.type = 'text';
            inputPorcentagemBeneficiario.className = 'form-control';
            inputPorcentagemBeneficiario.id = 'porcentagemBeneficiario' + contadorAtual;
            inputPorcentagemBeneficiario.placeholder = 'Digite a Porcentagem.';
            inputPorcentagemBeneficiario.maxLength = 3;
            inputPorcentagemBeneficiario.oninput = function () {
                formatarValor(this);
            };

            divPorcentagemBeneficiario.appendChild(inputPorcentagemBeneficiario);
            // Criar botão de delete
            var divbotaoDelete = document.createElement('div');
            divbotaoDelete.className = 'col';

            var btnDelete = document.createElement('button');
            btnDelete.type = 'button';
            btnDelete.className = 'btn btn-danger';
            btnDelete.setAttribute('data-toggle', 'modal');
            btnDelete.setAttribute('data-target', '#confirmDeleteModal');
            btnDelete.addEventListener('click', function () {
                container.removeChild(divRow);
            });

            var iconTrash = document.createElement('i');
            iconTrash.className = 'fas fa-trash-alt';
            btnDelete.appendChild(iconTrash);
            divbotaoDelete.appendChild(btnDelete);


            // Adicionar os elementos ao contêiner
            divRow.appendChild(divNomeBeneficiario);
            divRow.appendChild(divPorcentagemBeneficiario);
            divRow.appendChild(divbotaoDelete);

            container.appendChild(divRow);

        }
    </script>

    <script>
        function adicionarCobertura() {

            // Obter o valor atual do campo hidden
            var container = document.querySelector('.gridCobertura');
            var contadorAtual = container.querySelectorAll('.row .linhaCobertura').length;

            // Incrementar o valor
            contadorAtual = parseInt(contadorAtual) + 1;
            // Atualizar o valor no campo hidden
            document.getElementById('hddContador').value = contadorAtual;

            // Criar elementos
            var divRow = document.createElement('div');
            divRow.className = 'row mt-2 linhaCobertura';

            // Criar coluna vazia
            var divColVaziar = document.createElement('div');
            divColVaziar.className = 'col-2';

            divRow.appendChild(divColVaziar);


            // Criar coluna Nome Cobertura
            var divNomeCobertura = document.createElement('div');
            divNomeCobertura.className = 'col';

            var inputNomeCobertura = document.createElement('input');
            inputNomeCobertura.type = 'text';
            inputNomeCobertura.className = 'form-control';
            inputNomeCobertura.id = 'nomeCobertura' + contadorAtual;
            inputNomeCobertura.placeholder = 'Digite a cobertura.';

            divNomeCobertura.appendChild(inputNomeCobertura);
            // alert(divNomeCobertura.outerHTML);

            // Criar coluna Valor Cobertura
            var divValorCobertura = document.createElement('div');
            divValorCobertura.className = 'col';

            var inputValorCobertura = document.createElement('input');
            inputValorCobertura.type = 'text';
            inputValorCobertura.className = 'form-control';
            inputValorCobertura.id = 'valorCobertura' + contadorAtual;
            inputValorCobertura.placeholder = 'Digite o valor.';
            inputValorCobertura.maxLength = 8;
            inputValorCobertura.oninput = function () {
                formatarValor(this);
            };

            divValorCobertura.appendChild(inputValorCobertura);
            // Criar botão de delete
            var divbotaoDelete = document.createElement('div');
            divbotaoDelete.className = 'col';

            var btnDelete = document.createElement('button');
            btnDelete.type = 'button';
            btnDelete.className = 'btn btn-danger';
            btnDelete.setAttribute('data-toggle', 'modal');
            btnDelete.setAttribute('data-target', '#confirmDeleteModal');
            btnDelete.addEventListener('click', function () {
                container.removeChild(divRow);
            });

            var iconTrash = document.createElement('i');
            iconTrash.className = 'fas fa-trash-alt';
            btnDelete.appendChild(iconTrash);
            divbotaoDelete.appendChild(btnDelete);


            // Adicionar os elementos ao contêiner
            divRow.appendChild(divNomeCobertura);
            divRow.appendChild(divValorCobertura);
            divRow.appendChild(divbotaoDelete);

            container.appendChild(divRow);

        }
    </script>
    <script>
        function excluirLinha(btn) {
            var row = btn.closest('.row');
            row.remove();
        }
    </script>
    <script>
        document.getElementById("apolices").addEventListener("submit", function (event) {
            event.preventDefault();
            var erroCobertura = 0;
            var erroBeneficiario = 0;        

            var grid = document.querySelector('.gridCobertura');
            var rows = grid.querySelectorAll('.row .linhaCobertura');

            var coberturas = '';
            var beneficiarios = '';

            // Trata Cobertura

            rows.forEach(function (row) {

                var nomeCoberturaValue = row.querySelector('input[id^="nomeCobertura"]').value;

                var valorCoberturaValue = row.querySelector('input[id^="valorCobertura"]').value;
                if (coberturas == '') {

                    if (nomeCoberturaValue.trim() == '') {
                        coberturas = '=;';
                        erroCobertura = 1;
                    }
                    else {
                        coberturas = nomeCoberturaValue.trim() + ';';
                    }

                    if (valorCoberturaValue.trim() == '') {
                        coberturas += '=';
                        erroCobertura = 1;
                    }
                    else {
                        coberturas += valorCoberturaValue.trim();
                    }
                }
                else {
                    if (nomeCoberturaValue.trim() == '') {
                        coberturas += '|=;';
                        erroCobertura = 1;
                    }
                    else {
                        coberturas += '|' + nomeCoberturaValue.trim() + ';';
                    }

                    if (valorCoberturaValue.trim() == '') {
                        coberturas = '=';
                        erroCobertura = 1;
                    }
                    else {
                        coberturas += valorCoberturaValue.trim();
                    }

                }
            });
          
            document.getElementById('hddCobertura').value = coberturas;

         

            //Trata Beneficiario

            grid = document.querySelector('.gridBeneficiario');

            rows = grid.querySelectorAll('.row .linhaBeneficiario');


            rows.forEach(function (row) {

                var nomeBeneficiarioValue = row.querySelector('input[id^="nomeBeneficiario"]').value;

                var valorBeneficiarioValue = row.querySelector('input[id^="porcentagemBeneficiario"]').value;


                if (beneficiarios == '') {

                    if (nomeBeneficiarioValue.trim() == '') {
                        beneficiarios = '=;';
                        erroBeneficiario = 1;
                    }
                    else {
                        beneficiarios = nomeBeneficiarioValue.trim() + ';';
                    }

                    if (valorBeneficiarioValue.trim() == '') {
                        beneficiarios += '=';
                        erroBeneficiario = 1;
                    }
                    else {
                        beneficiarios += valorBeneficiarioValue.trim();
                    }
                }
                else {
                    if (nomeBeneficiarioValue.trim() == '') {
                        beneficiarios += '|=;';
                        erroBeneficiario = 1;
                    }
                    else {
                        beneficiarios += '|' + nomeBeneficiarioValue.trim() + ';';
                    }

                    if (valorBeneficiarioValue.trim() == '') {
                        beneficiarios = '=';
                        erroBeneficiario = 1;
                    }
                    else {
                        beneficiarios += valorBeneficiarioValue.trim();
                    }
                }
            });

            document.getElementById('hddBeneficiario').value = beneficiarios;


            if (erroCobertura == 0 && erroBeneficiario == 0) {
                event.currentTarget.submit();
            }
            else if (erroCobertura == 1 && erroBeneficiario == 1) {
                alert('existem campos em branco para as Coberturas e Beneficiarios!!!')
            }
            else if (erroCobertura == 1) {
                alert('existem campos em branco para as Coberturas!!!')

            }
            else if (erroBeneficiario == 1) {
                alert('existem campos em branco para os Beneficiarios!!!')
            }


        });
    </script>

}
